@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
.maincon{
text-align:center;
font-family:'Crimson Text';
color:#ffffff;
}
.con{
transform :translateY(-20px);
}
.icon_s{
height :24px;
transform :translateY(-20px);
color:#8f918e ;

}
